.Rdata
.Rhistory
.gitignore
.Fleshdashboard_AuroraEnergy.html
.Job_Application_QJ45141.html
.db_raw.rds
.improvements.html
.README.html
.db_neat.rds
.Flexdashboard_AuroraEnergy.html
.Job_Application_QJ45141_files/
.Job_Application_QJ45141_cache/